<md-content layout="column" >
    <div layout-gt-md="row" layout-padding flex>
        <div layout="column" layout-padding flex="50">
            <div layout="row" layout-align="start start" layout-padding>
                <md-input-container>
                    <label>Preferred Name</label>
                    <input type="text" ng-model="user.preferred_name"/>
                </md-input-container>
                <md-select ng-model="user.role">
                    <md-option ng-value="user" >
                        User
                    </md-option>
                    <md-option ng-value="admin" >
                        Parent
                    </md-option>
                </md-select>
            </div>
            Legal Name
            <md-input-container>
                <label>Prefix</label>
                <md-select ng-model="user.title" flex="10">
                    <md-option value="Mr." >
                        Mr.
                    </md-option>
                    <md-option value="Mrs." >
                        Mrs.
                    </md-option>
                    <md-option value="Ms." >
                        Ms.
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row" flex>
                <md-input-container flex="60">
                    <label>First</label>
                    <input type="text" ng-model="user.legal_name.first"/>
                </md-input-container>
                <md-input-container flex="10">
                    <label>Middel</label>
                    <input type="text" ng-model="user.legal_name.middle"/>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container>
                    <label>Last</label>
                    <input type="text" ng-model="user.legal_name.last"/>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Gender</label>
                    <md-select ng-model="user.gender">
                        <md-option value="Male" >
                            Male
                        </md-option>
                        <md-option value="Female" >
                            Female
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <laebl>Birthday</laebl>
                    <md-datepicker ng-model="user.birthday"></md-datepicker>
                </md-input-container>
                <div layout="column">
                    Parent Of:
                    <md-input-container>
                        <label>Search</label>
                        <input type="text" ng-model="user.parent_of"/>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <div layout="column">
                    Spouse/Partner:
                    <md-input-container>
                        <label>Search</label>
                        <input type="text" ng-model="user.spouse"/>
                    </md-input-container>
                </div>
            </div>
            <div layout="row">
                <md-button class="md-primary md-raised" flex="25">
                    <label for="file-input">Choose Image(s)</label>
                </md-button>
                <input id="file-input"
                       type='file'
                       ng-model="uploadedImages"
                       parser="resizeImage"
                       base-sixty-four-input
                       maxsize="1000"
                       multiple
                       ng-show="false"
                >
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" layout-padding flex="50">
            <div layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input type="text" ng-model="user.email"/>
                </md-input-container>
                <md-input-container>
                    <label>Primary Phone</label>
                    <input type="text" ng-model="user.primary_phone"/>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>Alt. Phone</label>
                    <input type="text" ng-model="user.alt_phone"/>
                </md-input-container>
            </div>
            <div layout="column">
                Address
                <md-input-container>
                    <label>Line 1</label>
                    <input type="text" ng-model="user.address.line_one"/>
                </md-input-container>
                <md-input-container>
                    <label>Line 2</label>
                    <input type="text" ng-model="user.address.line_two"/>
                </md-input-container>
                <md-input-container>
                    <label>Line 3</label>
                    <input type="text" ng-model="user.address.line_three"/>
                </md-input-container>
                <div layout="row" flex>
                    <md-input-container flex="50">
                        <label>City</label>
                        <input type="text" ng-model="user.address.city"/>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>St</label>
                        <input type="text" ng-model="user.address.state"/>
                    </md-input-container>
                    <md-input-container flex="25">
                        <label>Zip</label>
                        <input type="number" ng-model="user.address.zip"/>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" flex>
                <md-input-container flex="50">
                    <label>Employer</label>
                    <input type="text" ng-model="user.employer"/>
                </md-input-container>
                <md-input-container flex="50">
                    <label>Occupation</label>
                    <input type="text" ng-model="user.occupation"/>
                </md-input-container>
            </div>
            <div layout="column">
                Notes
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="start" flex>
        <div layout="row" layout-align="space-bettwen" flex="50">
            <md-button class="blueButton" ng-click="create(user)" ng-show="!user._id">CREATE</md-button>
            <md-button class="blueButton" ng-click="update(user)" ng-show="!!user._id">UPDATE</md-button>
            <md-button class="ghostButton">CANCEL</md-button>
        </div>
    </div>
</md-content>

